
{% extends "base_dashboard.html" %}
 
{% block content %}
{% load static %}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Payments</h4>
<h5>Record  payment</h5>


<center>
   <form method="post">
    {% csrf_token %}

    <div class="card mb-4">
        <h5 class="card-header">Record a manual payment</h5>
        <div class="card-body">
          <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">Payment method</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="name" id="html5-text-input" required />
            </div>
          </div>


          <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">Amount</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="email" id="html5-text-input" />
            </div>
          </div>

         
    


          <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">date</label>
            <div class="col-md-10">
                <select id="defaultSelect" class="form-select" name="currency" required>
                    <option  selected disabled >Select Currency</option>
                    {% for cur in currency %}
                          <option value="{{ cur.id }}">{{ cur.currency }}</option>
                      {% endfor %}
          
                  </select>
            </div>
          </div>




  

          <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">Payment Account </label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="city" id="html5-text-input" />
            </div>
          </div>



          <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">Notes/Memo(optional)</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="postal" id="html5-text-input" />
            </div>
          </div>


     

          

</div></div>
<button type="submit" class="btn btn-primary">Save changes</button>
  


   
</form>

    

</center>


{% endblock %}