{% extends "base_dashboard.html" %}
 
{% block content %}
{% load static %}





<style>
  .pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  .pagination ul {
      display: flex;
      flex-direction: row;
      gap: 8px;
  }
  .pagination ul li {
      background-color: #696cff;
      border-color: #696cff;
      color: white;
      list-style: none;
      padding: 10px 16px;
      border-radius: 5px;

  }
  .pagination ul li a {
      color: white;
  }
</style>

 
  <script>
    function edit(selectElement, customerId) {
      const selectedValue = selectElement.value;
      console.log('Action:', selectedValue, 'Customer ID:', customerId);
  
      if (selectedValue === 'edit') {
        window.location.href = `/bills/edit-customer/${customerId}`;
      } else if (selectedValue === 'delete') {
  
        window.location.href = `/bills/delete-customer/${customerId}`;
        // Handle delete action here
        console.log('Deleting customer with ID:', customerId);
      }
    }
  </script>

  


<center><h1 class="mb-0" style="margin-top: 30px;">Bills</h1>
    

</center>
<br>

<a href="{% url 'create-bill' %}"><button type="submit" style="margin-left: 90%;" class="btn btn-primary">Create a Bill </button></a>
<form method="post">

    
    {% csrf_token %}
<div class="row mb-2 mt-2">
    <!-- Contact Field -->
    <div class="col mb-0">
        <label for="defaultSelect" class="form-label">Vendor </label>
        <select id="defaultSelect" class="form-select" name="venndor" required>
            <option>Select Vendor</option>
            {% for ven in vendor %}
                  <option value="{{ ven.id }}">{{ ven.name }}</option>
              {% endfor %}

          </select>
    </div>

    <div class="col mb-0">
        <label for="invoiceDate" class="form-label">From </label>
        <input type="date" id="invoiceDate" name="from" class="form-control" required/>
    </div>

    <div class="col mb-0">
        <label for="paymentDue" class="form-label">To</label>
        <input type="date" id="paymentDue" name="to" class="form-control" required/>
    </div>

    <!-- Add one more field here -->
  
    

    <!-- Submit Button -->
    <div class="col mb-0">
        <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Submit</button>
        
    </div>
</div>
</form>



  <br> 
  <br> 



  
<!-- Responsive Table -->
<div class="card">
    
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr class="text-nowrap"  >
            <th >Status</th>
            <th>Date</th>
            <th>Number</th>
            <th>Vendor </th>
            <th>Due date 	</th>
            <th>Amount Due</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {%  for bill in bills%}
          <tr>
            <td>{{bill.status}}</td>
            <td>{{bill.bill_date}}</td>
            <td>{{bill.bill_number}}</td>
            <td>{{bill.vandor}}</td>
            <td>{{bill.due_date}}</td>
            <td>{{bill.status}}</td>
            <td>Amount-</td>
            <td>
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" onchange="edit(this, '{{bill.id}}')">
                  <option selected disabled>Select Action</option>
                  <option value="edit">Edit</option>
                  <option value="delete">Delete</option>
                </select>
              </div>
            </td>
            
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>




  <center>
    <div class="pagination">
        <ul>
            {% if bills.has_previous %}
                <li><a href="?page={{ files.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            

            {% if files.has_next %}
                <li><a href="page={{ bills.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</center>








  
{% endblock %}


<style>
    .pdf {
        border: solid purple 4px;
        width: 200px; /* Set the width to 200 pixels */
        height: 300px; /* Set the height to 300 pixels */
    }
</style>