
{% extends "base_dashboard.html" %}
 
{% block content %}
{% load static %}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Invoice /</span> Create Invoice</h4>
<div class="row">
                <!-- Basic Layout -->
                <div class="col-xxl">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                     
                      <!-- <small class="text-muted float-end">Default label</small> -->
                      <button
                          type="button"
                          class="btn btn-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#basicModal"
                        >
                        Add Customer   
                        </button>      

        

                        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <form class="modal-content" method="post">
                              {% csrf_token%}
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Add Customer</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col mb-3">
                                    <label for="nameBasic" class="form-label">Customer</label>
                                    <input type="text" id="nameBasic"  name="cusName" class="form-control" placeholder="Enter Name" required>
                                  </div>
                                </div>
                                <div class="row g-2">
                                  <div class="col mb-0">
                                    <label for="emailBasic" class="form-label">Email</label>
                                    <input type="text" id="emailBasic"name="cusEmail" class="form-control" placeholder="" required />
                                  </div>
                                  <div class="col mb-0">
                                    <label for="emailBasic" class="form-label">Phone</label>
                                    <input type="text" id="emailBasic" name="cusphone" class="form-control" placeholder="" />
                                  </div>
                                 
                              </div>

                              <div class="row g-2">
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">First Name</label>
                                  <input type="text" id="emailBasic"name="fistname" class="form-control" placeholder="" />
                                </div>
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">Last Name</label>
                                  <input type="text" id="emailBasic"name="lastname" class="form-control" placeholder="" />
                                </div>
                            </div>

                
                                                  <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                


                    <div class="row">
                      <!-- Basic with Icons -->
                      <div class="col-xxl">
                        <div class="card mb-4">
                          <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">Invoice</h5>
                            <!-- <small class="text-muted float-end">Merged input group</small> -->
                            <button
                              type="button"
                              class="btn btn-primary"
                              data-bs-toggle="modal"
                              data-bs-target="#largeModal"
                            >
                            Add your business address and contact details
                            </button>
                            
                            <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel3">Address</h5>
                                    <button
                                      type="button"
                                      class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"
                                    ></button>
                                  </div>

                                  <!-- add -business  details -->
                                  <div class="modal-body">
                                    <form  class="modal-content" method="post" >
                                      {% csrf_token %}
                                    <div class="row">
                                      <div class="col mb-3">
                                        <label for="nameLarge" class="form-label">Company/Business</label>
                                        <input type="text" id="nameLarge" name="companyname" class="form-control" placeholder="Enter Name" required />
                                      </div>
                                    </div>

                                    <div class="row g-2">
                                      <div class="col mb-0">
                                        <label for="emailBasic" class="form-label">Address</label>
                                        <input type="text" id="emailBasic"name="address1" class="form-control" placeholder="" />
                                      </div>
                                      <div class="col mb-0">
                                        <label for="emailBasic" class="form-label">Address2</label>
                                        <input type="text" id="emailBasic"name="address2" class="form-control" placeholder="" />
                                      </div>
                                  </div>

                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="emailBasic" class="form-label">City</label>
                                      <input type="text" id="emailBasic"name="city" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col mb-0">
                                      <label for="emailBasic" class="form-label">Postal/Zip</label>
                                      <input type="text" id="emailBasic"name="zip" class="form-control" placeholder="" />
                                    </div>
                                </div>

                                <div class="row g-2">
                                  <div class="col mb-0">
                                    <label for="emailBasic" class="form-label">Country</label>
                                    <input type="text" id="emailBasic"name="country" class="form-control"  required/>
                                  </div>
                                  <div class="col mb-0">
                                    <label for="emailBasic" class="form-label">Province/State</label>
                                    <input type="text" id="emailBasic"name="state" class="form-control" placeholder="" />
                                  </div>
                              </div>
                              <br>
                              <p>Conatct</p>
                              <br>

                              <div class="row g-2">
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">Phone</label>
                                  <input type="text" id="emailBasic"name="phone" class="form-control"/>
                                </div>
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">Fax</label>
                                  <input type="text" id="emailBasic"name="fax" class="form-control" placeholder="" />
                                </div>
                            </div>


                              <div class="row g-2">
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">Mobile</label>
                                  <input type="text" id="emailBasic"name="mobile" class="form-control"  />
                                </div>
                                <div class="col mb-0">
                                  <label for="emailBasic" class="form-label">Website</label>
                                  <input type="text" id="emailBasic"name="website" class="form-control" placeholder="" />
                                </div>
                            </div>

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                      Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>







                            
                            
                          </div>

                          
                          <div class="card-body">
              
                            <form method="post">
                              {% csrf_token%}

                              <div class="form-floating custom-form-floating">
                                <input
                                  type="text"
                                  name ="invoice_title"
                                  class="form-control custom-form-control"
                                  id="floatingInput"
                                  placeholder="Enter invoice title"
                                  aria-describedby="floatingInputHelp"
                                  style="width: 50%; height: 5%;"
                                  required
                                />
                                <label for="floatingInput">Invoice Title</label>
                               
                              </div>
                              <br>
                              <div class="form-floating custom-form-floating">
                                <input
                                  type="text"
                                  name ="invoice_description"
                                  class="form-control custom-form-control"
                                  id="floatingInput"
                                  placeholder="Enter invoice description"
                                  aria-describedby="floatingInputHelp"
                                  style="width: 50%; height: 20%;"
                                />
                               
                                <label for="floatingInput">Invoice Description</label>
                              </div>
                              <br>
                              <!-- Name and Contact Fields in one row -->
                              <div class="row mb-2 mt-2">
                                <!-- Contact Field -->
                                <div class="col mb-0">
                                  <label for="dobBasic" class="form-label">Invoice Number</label>
                                  <input type="text" id="dobBasic" name="invoice_number" class="form-control" placeholder="" required>
                                </div>
                    
                                <div class="col mb-0">
                                  <label for="paymentDue" class="form-label">Invoice Date</label>
                                  <input type="date" id="paymentDue" name="invoice_date" class="form-control" required/>
                              </div>
                              

                                <div class="col mb-0">
                                  <label for="paymentDue" class="form-label">Payment Due</label>
                                  <input type="date" id="paymentDue" name="payment_date" class="form-control" required/>
                              </div>
                              
                              </div>
                              <br> 
                              <br> 
    
                              <div class="mb-3">
                                <label for="defaultSelect" class="form-label">Selcect Customer</label>
                                <select id="defaultSelect" class="form-select" name="customer" required>
                                  <option>Select Customer</option>
                                  {% for cus in customer %}
                                        <option value="{{ cus.id }}">{{ cus.name }}</option>
                                    {% endfor %}
  
                                </select>
                               
                              <br> 
                              <div class="mb-3">
                                <label for="defaultSelect" class="form-label">Selcect Business</label>
                                <select id="defaultSelect" class="form-select" name="business" required>
                                  <option>Select Business</option>
                                  {% for bus in business %}
                                        <option value="{{ bus.id }}">{{ bus.name }}</option>
                                    {% endfor %}
  
                                </select>
                               
                              <br> 
                                <!-- Address Field -->
                            
                              <h2> Add items</h2>

                              <div class="col-sm-5">
                                <div class= "row">
            
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Item Name</label>
                                      <input type="name"   class="form-control"  name="itemname"id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                  
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Quantity</label>
                                      <input type="text" name="quantity"  class="form-control" id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                  
                                  </div>
            
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Price</label>
                                      <input type="text" name="price"  class="form-control" id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                  
                                  </div>
            
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Item Name</label>
                                      <input type="text" name="itemname"  class="form-control" id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                  
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Quantity</label>
                                      <input type="text" name="quantity"  class="form-control" id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                  
                                  </div>
                                  
                                  <div class="col-sm-4">
                                    <div class="mb-3">
                                      <label for="inputEmail4" class="form-label">Price</label>
                                      <input type="text" name="price"  class="form-control" id="inputEmail4" required>
                                      {{form.errors.name}}
                                    </div>
                                   
                                  </div>
            
            
            
            
            
            
            
                               
            
            
            
                                  <!--End -->
                              
                              <!-- ... -->


                              
                                
          
                                 

                                  <div class="form-floating custom-form-floating">
                                    <input
                                      type="text"
                                      name ="invoice_footer"
                                      class="form-control custom-form-control"
                                      id="floatingInput"
                                      placeholder="Enter invoice description"
                                      aria-describedby="floatingInputHelp"
                                      
                                    />
                                   
                                    <label for="floatingInput">Invoice Footer</label>
                                  </div>
                                  <br><br><br>
    
                                  
            
            
            

                              
                    
                              <div class="row justify-content-end">
                                <div class="col-sm-10">
                                  <button type="submit" class="btn btn-primary">Send Invoice</button>
                                </div>
                              </div>


                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                      

{% endblock %}