{% extends "base_dashboard.html" %}
 
{% block content %}
{% load static %}
<center><h1 class="mb-0" style="margin-top: 30px;">Customer Statements</h1></center>
<br>
<form method="post">
    {% csrf_token %}
<div class="row mb-2 mt-2">
    <!-- Contact Field -->
    <div class="col mb-0">
        <label for="defaultSelect" class="form-label">Selcect Customer</label>
        <select id="defaultSelect" class="form-select" value="{{ cus.id }}" name="customer" required>
            <option value="" >Select Customer</option>
            
            {% for cus in customer %}
                  <option value="{{ cus.id }}">{{ cus.name }}</option>
              {% endfor %}

          </select>
    </div>
   

    <div class="col mb-0">
        <label for="invoiceDate" class="form-label">From </label>
        <input type="date" id="invoiceDate" name="from_date" class="form-control" required/>
    </div>

    <div class="col mb-0">
        <label for="paymentDue" class="form-label">To</label>
        <input type="date" id="paymentDue" name="to_date" class="form-control" required/>
    </div>

    <!-- Add one more field here -->
  
    

    <!-- Submit Button -->
    <div class="col mb-0">
        <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

  <br> 
  <br> 



  
<div class="pdf">
    <p >Hello </p>


</div>












  
{% endblock %}


<style>
    .pdf {
        border: solid purple 4px;
        width: 200px; /* Set the width to 200 pixels */
        height: 300px; /* Set the height to 300 pixels */
    }
</style>